* {
  margin: 0;
  padding: 0;
  box-sizin: border-box;
}

html, body {
  height: 100vh;
  background-color: #666666;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 150px;
  font-weight: 1000;
  text-transform: uppercase;
  color: #ffffff;
  outline: 0;
}